@inherits LayoutComponentBase
<main class="h-100">
    <div class="container-fluid">
        <div class="row h-100">
            <div class="d-flex flex-column flex-shrink-0 p-0 bg-light me-0 pe-0" style="width: 280px;">
                <SideBar />
            </div>
            <div class="col ps-0">
                <div class="row">
                    <TopNav />
                    <div class="p-5">
                    @Body
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
*@