@page "/expenses"
@using ExpenseEngine.Core.Models
@using ExpenseEngine.UI.Shared.Expense
@inject HttpClient Http

<PageTitle>Expenses</PageTitle>

<h1>Expenses</h1>

<div class="row-cols-1 h-100 overflow-scroll">
@if (expenses == null || selectedMonthExpense == null)
{
    <FluentProgress></FluentProgress>
}
else
{
    <ExpenseSummary Expenses="@expenses"></ExpenseSummary>
}
</div>
@code {
    private MonthlyExpense[]? expenses;
    private MonthlyExpense? selectedMonthExpense;

    protected override async Task OnInitializedAsync()
    {
        expenses = (await Http.GetFromJsonAsync<MonthlyExpense[]>("api/v1/Expense/monthly"))?.OrderByDescending(x => x.Year).ThenByDescending(x => x.Month).ToArray();
        selectedMonthExpense = expenses?.FirstOrDefault();
    }
}
